.box{
    background-color: #0f9bf6;
}
.imagen{
    max-width: 25vw;
    max-height: 40vh;
}
 
p{
    color: white;
    font-weight: bold;
}
.boxWhats{
    width: 15%;
    position: fixed;
    bottom: 5%;
    left: 75%;
}